<div class="container mat-typography">

  <button mat-button class="m-1" [disabled]="!hasUserValue" style="float: right" (click)="onDeleteStoredSettingsClicked(); settingsForm.reset();">
    <mat-icon>delete_all</mat-icon> Delete stored settings
  </button>

  <h1>Settings</h1>

  <form #settingsForm="ngForm" class="form-container" [formGroup]="options">
    <mat-card>
      <mat-tab-group class="mt-1 mb-1">
        <mat-tab label="API">
          <div class="mt-1 mb-1">

            <mat-form-field class="full-width mb-1">
              <mat-label>Base URL</mat-label>
              <mat-hint>The backend service you want to communicate with</mat-hint>
              <input matInput type="text" placeholder="https://www.example.com/api/v1" formControlName="baseUrl" minlength="10">
              <mat-error *ngIf="options.get('baseUrl')?.invalid">Invalid</mat-error>
            </mat-form-field>

            <table class="full-width mb-1">
              <tr>
                <td>
                  <div class="mr-1">
                    <mat-form-field class="full-width">
                      <mat-label>Username</mat-label>
                      <mat-hint>The username you want to authenticate with</mat-hint>
                      <input matInput type="text" placeholder="john_doe" formControlName="username" minlength="1">
                      <mat-error *ngIf="options.get('username')?.invalid">Invalid</mat-error>
                    </mat-form-field>
                  </div>
                </td>
                <td>
                  <div class="">
                    <mat-form-field class="full-width ">
                      <mat-label>Password</mat-label>
                      <input matInput type="password" formControlName="password" minlength="1">
                      <mat-error *ngIf="options.get('password')?.invalid">Invalid</mat-error>
                    </mat-form-field>
                  </div>
                </td>
              </tr>
            </table>

            <mat-form-field class="full-width mb-1">
              <mat-label>Contract ID</mat-label>
              <mat-hint>Id of the contract you want to be used for requests</mat-hint>
              <input matInput type="number" formControlName="contractId" min="1">
              <mat-error *ngIf="options.get('contractId')?.invalid">Invalid</mat-error>
            </mat-form-field>
          </div>
        </mat-tab>
        <mat-tab label="Application">
          <div class="mt-1 mb-1">
            <mat-checkbox class="ml-1" formControlName="debugMode">Debug Mode</mat-checkbox>
          </div>
        </mat-tab>
      </mat-tab-group>

      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="options.invalid" (click)="onFormSubmit()">
          <mat-icon>save_alt</mat-icon> {{ hasUserKey ? 'Save' : 'Enter passphrase and save' }}
        </button>
        <button mat-raised-button color="primary" *ngIf="hasUserKey" [disabled]="options.invalid" (click)="onFormSubmitWithNewPassphrase()">
          <mat-icon>lock</mat-icon> Save with new passphrase
        </button>
      </mat-card-actions>
    </mat-card>
  </form>

</div>