@import "mixins";

$progress_bar_height: calculateRem(5px);
$nav_bar_height: 2rem;

:host(app-nav) {
  padding-top: 0;
  padding-bottom: 3.3rem;
  display: grid;

  header {
    position: fixed;
    z-index: 999;
    width: 100%;

    nav {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: calculateRem(8px) calculateRem(16px);
      color: $secondary--color;
      height: $nav_bar_height;
      background: $primary--color;

      .mat-raised-button {
        color: $primary--color;
        margin-right: 1rem;
      }

      .progress-bar {
        display: flex;
        align-content: center;
        align-items: center;
        height: $progress_bar_height;
      }

      .icon__image {
        width: calculateRem(20px);
        height: calculateRem(20px);
      }

      img {
        vertical-align: middle;
      }
    }
  }
}

@media (max-width: 807px) {
}

@media (max-width: 680px) {
  :host(app-nav) {
    padding-top: 0;
    padding-bottom: 0;

    header {
      position: relative;

      nav {
        height: $nav_bar_height;
        display: flex;
        /*padding: 1rem 1rem 0;*/

        /*> div {
          margin-top: calculateRem(5px);
        }*/
      }
    }
  }
}

@media (max-width: 425px) {
  :host(app-nav) {
    padding-bottom: 0;

    header {
      nav {
        app-search-bar {
          width: 75%;
        }
      }
    }
  }
}
