<footer>
    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" class.xs="footer-xs">
        <div fxFlex="33">
            <span>{{ 'applicationName' | translate }}</span>
        </div>
        <div fxFlex="33" class="text--center"></div>
        <div fxFlex class="footer-section-right" class.xs="footer-xs">
            <a mat-button href="https://www.amv-networks.com/en/data-protection/" target="_blank" rel="noopener">Privacy</a>
            <a mat-button href="https://www.amv-networks.com/en/imprint/" target="_blank" rel="noopener">Imprint</a>
            <a mat-button href="https://www.amv-networks.com/en/gtc/" target="_blank" rel="noopener">Terms and Conditions</a>
        </div>
    </div>
</footer>