@import "mixins";

footer {
  padding: calculateRem(8px) calculateRem(16px);
  color: $secondary--color;
  background: $primary--color;
  margin-top: 0; /*2rem;*/
  position: sticky;
  top: calc(100vh - 36px);;

  img {
    width: 25%;
  }
}

.footer-section-right {
  text-align: right;
}

.footer-xs {
  text-align: center !important;
  padding-top: 1rem;
}
