@import "mixins";


footer {
  padding: calculateRem(8px) calculateRem(16px);
  color: $secondary--color;
  background: $primary--color;
  margin-top: 0; 
  position: sticky;
  top: 100vh;
}

.footer-section-right {
  text-align: right;
}

.footer-xs {
  text-align: center !important;
  padding-top: 1rem;
}
