<div class="container mat-typography">
  <h1 class="title">Vehicle {{vehicleId}}</h1>
  <h2 class="subtitle">Dashboard</h2>

  <mat-tab-group class="mat-elevation-z5">
      <mat-tab label="Location">
        <app-main-box-map [vehicleId]="vehicleId"></app-main-box-map>
      </mat-tab>
    <mat-tab label="xfcd">
      <app-main-box-xfcd [vehicleId]="vehicleId"></app-main-box-xfcd>
    </mat-tab>
    <mat-tab label="Reservations">
      <app-main-box-reservations [vehicleId]="vehicleId"></app-main-box-reservations>
    </mat-tab>
  </mat-tab-group>
</div>