
<div class="m-1">
    <button class="m-1" mat-button (click)="focusVehicleOnMap(selectedVehicle)" [disabled]="loading"><mat-icon>my_location</mat-icon> focus</button>
    <button class="m-1" mat-button (click)="reload()" [disabled]="loading" style="float:right"><mat-icon>autorenew</mat-icon> reload</button>
    <div class="clear"></div>
</div>

<div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
    <div fxFlex></div>
    <div fxFlex="10">
        <mat-spinner *ngIf="loading" class="m-1"></mat-spinner>
    </div>
    <div fxFlex></div>
</div>

<div #map class="map" leaflet [leafletOptions]="leafletOptions" [leafletLayers]="leafletLayers" (leafletMapReady)="onMapReady($event)">
</div>

<div class="clear"></div>