<div class="m-1 mat-typography">

  <button class="m-1" style="float:right" mat-button (click)="reload()" [hidden]="loading">
    <mat-icon>autorenew</mat-icon> reload
  </button>
  <h3 class="mt-1">
    <span>XFCD</span>
  </h3>

  <mat-spinner class="m-1" *ngIf="loading" class="app-spinner-center"></mat-spinner>

  <div *ngIf="!loading">
    <h3 class="mt-1">
      <span [matBadge]="xfcdDataSource.data.length" matBadgeOverlap="false">xfcd</span>
    </h3>
    <mat-card class="mt-1" *ngIf="xfcdDataSource.data.length === 0">No content</mat-card>
    <div class="mt-1" *ngIf="xfcdDataSource.data.length > 0">
      <mat-form-field class="full-width">
        <input matInput (keyup)="applyXfcdFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <table mat-table [dataSource]="xfcdDataSource" matSort matSortActive="param" matSortDirection="asc" class="mt-1 full-width mat-elevation-z2"
        *ngIf="xfcdDataSource.data.length > 0">
        <ng-container matColumnDef="param">
          <th mat-header-cell *matHeaderCellDef> param </th>
          <td mat-cell *matCellDef="let element">
            <mat-chip-list>
              <mat-chip>{{element.param}}</mat-chip>
            </mat-chip-list>
          </td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> value </th>
          <td mat-cell *matCellDef="let element"> {{element.value}} </td>
        </ng-container>
        <ng-container matColumnDef="updated_at">
          <th mat-header-cell *matHeaderCellDef>last update</th>
          <td mat-cell *matCellDef="let element">
            {{element.timestamp | amTimeAgo}}
          </td>
        </ng-container>
        <ng-container matColumnDef="timestamp">
          <th mat-header-cell *matHeaderCellDef> timestamp </th>
          <td mat-cell *matCellDef="let element">{{element.timestamp | amDateFormat: 'YYYY-MM-DD HH:mm'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="xfcdDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: xfcdDisplayedColumns;"></tr>
      </table>
    </div>

    <div class="clear mt-1 mb-1">&nbsp;</div>

    <h3 class="mt-1">
      <span [matBadge]="statesDataSource.data.length" matBadgeOverlap="false">states</span>
    </h3>
    <mat-card class="mt-1" *ngIf="statesDataSource.data.length === 0">No content</mat-card>
    <div class="mt-1" *ngIf="statesDataSource.data.length > 0">
      <mat-form-field class="full-width">
        <input matInput (keyup)="applyStatesFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <table mat-table [dataSource]="statesDataSource" class="mt-1 full-width mat-elevation-z2">
        <ng-container matColumnDef="param">
          <th mat-header-cell *matHeaderCellDef> param </th>
          <td mat-cell *matCellDef="let element">
            <mat-chip-list>
              <mat-chip>{{element.param}}</mat-chip>
            </mat-chip-list>
          </td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> value </th>
          <td mat-cell *matCellDef="let element"> {{element.value}} </td>
        </ng-container>
        <ng-container matColumnDef="updated_at">
          <th mat-header-cell *matHeaderCellDef>last update</th>
          <td mat-cell *matCellDef="let element">
            {{element.timestamp | amTimeAgo}}
          </td>
        </ng-container>
        <ng-container matColumnDef="timestamp">
          <th mat-header-cell *matHeaderCellDef> timestamp </th>
          <td mat-cell *matCellDef="let element"> {{element.timestamp | amDateFormat: 'YYYY-MM-DD HH:mm'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="statesDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: statesDisplayedColumns;"></tr>
      </table>
    </div>

    <div class="clear"></div>

    <div *ngIf="debugMode">
      <pre class="m-1">{{ lastData | json }}</pre>
    </div>
  </div>
</div>