
<div class="m-1">
    <button class="m-1" mat-button (click)="focusVehicleOnMap(selectedVehicle)" [disabled]="loading"><mat-icon>my_location</mat-icon> focus</button>
    <button class="m-1" mat-button (click)="reload()" [disabled]="loading" style="float:right"><mat-icon>autorenew</mat-icon> reload</button>
    <div class="clear"></div>
</div>

<mat-spinner *ngIf="loading" class="app-spinner-center"></mat-spinner>

<div #map class="map" leaflet [leafletOptions]="leafletOptions" [leafletLayers]="leafletLayers" (leafletMapReady)="onMapReady($event)">
</div>

<div class="clear"></div>