@import '../../core/nav/nav.component';
@import '../../core/footer/footer.component';
@import "mixins";

$mm: 3.3rem - calculateRem(53px);
$aa: calc(calculateRem(100vh) - $mm);

.map {
  height: calc(100vh - 3.3rem - 3.25rem);
  width: 100%;
}

.box-card {
  margin: 0.5rem 0.5rem 1rem 0.5rem;
}

.box-card h3 {
  font-weight: 600;
  font-size: 1.2rem;
}

.box-card .box-header-image {
  background-image: url('../../../assets/images/heroes/1-thumbnail.jpg');
  background-size: cover;
}